{% extends "layouts/layout.index.html" %}

{% block content %}
<div class="r-top-image">
    <img src="../assets/img/top-image.png">
</div>
<div class="r-main">
<div class="r-content">
<div class="r-textColumn"><p class="r-firstText">
    Selam, taş devrinden kalma bu linkle ne yapmak istiyorsun?
    <br><span class="r-secondText">Parolanı sıfırlamak için aşağıdaki alanı doldur.</span>
</p></div>

<input class="r-password-input" type="text" placeholder="E-Posta adresinizi girin.." >


<div class="r-submit-button">
    <a href="" class="button-a" ><p class="r-button-text">
        Sıfırlama Bağlantısı Gönder
    </p>
        <img src="../assets/img/angle-right.png" class="r-button-img" /></a>
</div>
</div>
    <div class="r-background">
        <div class="r-bg-image"></div>
    </div>
</div>

{% endblock %}
