{% extends "layouts/layout.index.html" %}

{% block content %}
<div class="w-top-image">
    <img src="../assets/img/top-image.png">
</div>
<div class="w-main">
    <div class="w-content">
        <div class="w-textColumn"><p class="w-firstText">
            İşte Bu!
            <br><span class="w-secondText">Aramıza Hoş Geldin Belgin!</span>
        </p></div>
        <div class="w-submit-button">
            <a href="" class="button-a" ><p class="w-button-text">
                Podcast Dinlemeye Başla
            </p>
                <img src="../assets/img/angle-right.png" class="w-button-img" /></a>
        </div>
    </div>
    <div class="w-background">
        <div class="w-bg-image"></div>
    </div>
</div>

{% endblock %}